doctype html
head
  meta(charset='utf-8')
  title DHAKON.AI
  meta(name='description' content='Congklak AI with Alpha Beta Pruning')
  <link rel="stylesheet" href="/style.css">
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap' rel='stylesheet')

body
  .main-container
    .beginning-page
      h1 DHA.KON
      .form-group
        h1.menu Select gameplay:
        label(for='type1') AI vs Player
          input#type1.form-type(type="radio", name="type", value="1" checked)
        label(for='type2') Player vs Bot
          input#type2.form-type(type="radio", name="type", value="2")
        label(for='type3') Bot vs AI
          input#type3.form-type(type="radio", name="type", value="3")
      
      .form-group
        h1.menu Select difficulty:
        label(for='difficulty1') Easy
          input#difficulty1.form-difficulty(type="radio", name="difficulty", value="1" checked)
        label(for='difficulty2') Medium
          input#difficulty2.form-difficulty(type="radio", name="difficulty", value="2")
        label(for='difficulty3') Hard
          input#difficulty3.form-difficulty(type="radio", name="difficulty", value="3")

      .button
        button#play Play

    .main-page.hidden
      h1 DHA.KON
      .content
        .ai-home-wrapper
          .ai-home-hole.hole.score-hole.play
        .player-hole-wrapper
          .ai-hole-wrapper
            .ai-hole.hole.play
            .ai-hole.hole.play
            .ai-hole.hole.play
            .ai-hole.hole.play
            .ai-hole.hole.play
            .ai-hole.hole.play
            .ai-hole.hole.play
          .user-hole-wrapper
            .user-hole.hole.play
            .user-hole.hole.play
            .user-hole.hole.play
            .user-hole.hole.play
            .user-hole.hole.play
            .user-hole.hole.play
            .user-hole.hole.play
        .user-home-wrapper
          .user-home-hole.hole.score-hole.play
      div.status-wrapper
        #playing-status
        #seeds-left
        button#play-game Play

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='/script.js', type="module")
