doctype html
head
  meta(charset='utf-8')
  title DHAKON.AI
  meta(name='description' content='Congklak AI with Alpha Beta Pruning')
  <link rel="stylesheet" href="/style.css">
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap' rel='stylesheet')

body
  .main-container
    .text-center
      h1 DHA.KON
    .content
      .ai-home-wrapper
        .ai-home-hole.hole.score-hole.play
      .player-hole-wrapper
        .ai-hole-wrapper
          .ai-hole.hole.play
          .ai-hole.hole.play
          .ai-hole.hole.play
          .ai-hole.hole.play
          .ai-hole.hole.play
          .ai-hole.hole.play
          .ai-hole.hole.play
        .user-hole-wrapper
          .user-hole.hole.play
          .user-hole.hole.play
          .user-hole.hole.play
          .user-hole.hole.play
          .user-hole.hole.play
          .user-hole.hole.play
          .user-hole.hole.play
      .user-home-wrapper
        .user-home-hole.hole.score-hole.play
    #seeds-left
    button#play Play

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='/script.js', type="module")
